<!-- <div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="suitableFor">Suitable For</label>
          <input
            type="text"
            class="form-control"
            id="suitableFor"
            required
            [(ngModel)]="receipe.suitableFor"
            name="suitableFor"
          />
        </div>
  
        <div class="form-group">
          <label for="instructions">Instructions</label>
          <input
            class="form-control"
            id="instructions"
            required
            [(ngModel)]="receipe.instructions"
            name="instructions"
          />
        </div>
  
        <button (click)="saveReceipe()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Receipe was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newReceipe()">Add</button>
      </div>
    </div>
</div>
</div> -->
<h1>Here</h1>